
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.cover-image {
  width: 100%; /* Make the image fill the entire width of its container */
  height: 300px; /* Set the desired height for the cover image */
  object-fit: cover; /* Maintain aspect ratio and cover the entire container */
}

header {
  background-color: #ff6600; /* Bright orange */
  color: #fff;
  padding: 1em;
  text-align: center;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

.explore-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #4caf50; /* Green */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;

